---
layout: page
title: Potpourri
---

<div class="text-center">
    <p>
        The greatest consequence of growing up is independence. There's no one stopping you from 
        hopping on a plane to an unknown city - whether you have a plan or not. 
    </p>
    <p>
        My most consistent trait is a love for new food, exploration, and travel. Here is a personal collection of my favorite adventures. 
        Catch the best restaurants in Chi, views of NYC, and my summer in California. 
    </p>
</div>

<section class="list">
    {% for post in site.posts %}
        {% if post.category == 'potpourri' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
        			<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

