---
layout: page
title: Potpourri
---

<div class="text-center">
    <p>
        In my free time, I read, play video games, and cook. Unfortunately, those activities aren't very picturesque.
        Luckily, I also love trying new food, traveling, and exploring cities!
    </p>

    <p>
        Here is a personal collection of my favorite adventures. Catch the best restaurants in Chi, 
        gorgeous views of NYC, and my summer in California!
    </p>
</div>

<section class="list">
    {% for post in site.posts %}
        {% if post.potpourri %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
        			<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>


<!-- <div class="item {% if post.star %}star{% endif %}">
    <a class="url" href="{{ site.url }}{{ post.url }}">
        <aside class="date"><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>
        <h3 class="title">{{ post.title }}</h3>
    </a>
</div> -->
<!-- <section class="list">
	{% if site.posts.size == 0 %}
		<p class="text-center">Nothing published yet!</p>
	{% elsif site.pagination.enabled %}
		{% for post in paginator.posts %}
			{% if post.category == 'blog' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}

		{% include pagination.html%}
	{% else %}
		{% for post in site.posts %}
			{% if post.category == 'potpourri' %}
				{% if post.hidden != true %}
					{% include blog-post.html %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% endif %}
</section> -->