---
layout: page
title: Potpourri
---

<div class="text-center">
    <p>
        My personal brand of hedonism, among other things, lies in spontaneity of traveling.
        Despite the uncertain years that come with growing up, my most consistent trait has been a love for food, 
        exploration, culture, art, and all things new. 
    </p>

    <p>
        Here is a personal collection of my favorite adventures. Catch the best restaurants in Chi, views of NYC, 
        my summer in California, my examination of Seattle, and my forray into Europe. 
    </p>
</div>

<section class="list">
    {% for post in site.posts %}
        {% if post.category == 'potpourri' %}
            <div class="item {% if post.star %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
        			<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>

