---
title: Currated Playlist 
layout: post 
category: blog
date: 2000-01-02 00:00
image: ../assets/images/blog/music-note.png
headerImage: true 
nodate: true 
author: kjros 
description: "listen to my favorite tunes"
hidden: true 
songs: 
- path: 7sljA9XJXVCbbXLK5XpDtu?utm_source=generator&theme=0
  syn: rainwater, glass walls, mint, ink
- path: 0F8SVNd2tFXkWFLG6gCyBW?utm_source=generator
  syn: cherry ice, keys, popping boba
- path: 6jNZnEkAzcIt4cjULVUjC8?utm_source=generator&theme=0
  syn: bubble gum, headphones, graffiti 
- path: 1Uit6wCgxjlLs5dFoTkerh?utm_source=generator
  syn: pixels, blue raspberry suckers, neon signs 
- path: 60SG0hQJ06JFMJNLJSuR7k?utm_source=generator
  syn: mahogany, picture frames, haze
- path: 6dgUya35uo964z7GZXM07g?utm_source=generator
  syn: sparkling cider, string orchestras, succulents
- path: 65FftemJ1DbbZ45DUfHJXE?utm_source=generator&theme=0
  syn: chocolate chip cookies, DDR, lip gloss 
- path: 4j6kId9QIqhoXvqHKgSKa0?utm_source=generator
  syn: vinyl, pressed flowers, tea
- path: 1BxfuPKGuaTgP7aM0Bbdwr?utm_source=generator
  syn: fog, bay breeze, ube boba, stationery, pastels 
- path: 6MYJv37Mpj5njLLbxKWNun?utm_source=generator&theme=0
  syn: sandalwood, sun streams, hills, playing cards 
- path: 5Z3GHaZ6ec9bsiI5BenrbY?utm_source=generator
  syn: strawberries, sand, sweat, ocean waves 
- path: 2fmCA13dwQQOGBIbIOWRiJ?utm_source=generator&theme=0
  syn: stars, luminescence, melon 
--- 

<div class="text-center">
    <p>
    My music taste changes a lot: indie, indie pop, pop rock, R&B, you name it. 
    Check out my favorite songs below. 
    </p>
</div>

<hr> 

<div class="text-center">
    {% for song in page.songs %}
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{ song.path }}"
        width="90%" height="152" frameBorder="0" allowfullscreen="" 
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

        <p><small>Synesthesia: <i>{{ song.syn }}</i></small></p>
        {% if forloop.last == false %}
            <hr>
        {% endif %}
    {% endfor %}
</div>